<link rel="stylesheet" href="~/css/style.css">

<header>
        <div class="header-t">
         <h1 class="header-title">BookCenterde siz muxtelif kitablar elde ede bilersiniz</h1>
       
        </div>
    <div class="header-card">


    </div>
</header>