 <link rel="stylesheet" href="~/css/style.css">
 
 <form action="/search" id="form-search">

        <input type="search" placeholder="search ..." name="search" id="search">
        <button id="search-btn">search</button>
    </form>