@model ProductListViewModel
@{
    var product = Model.Products;
}
   

<div class="row">
    <div class="col-table">
        <h1 id="text-admin">Admin Products</h1>
        <hr />
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Image</th>
                    <th id="th-name">Name</th>
                    <th>Ana Sehfe</th>
                    <th>Onayli</th>
                    <th>Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Products.Count > 0)
                {
                    @foreach (var item in product)
                    {
                        <tr>

                            <td>@item.ProductId</td>
                            <td id="img-td"><img src="~/img/@item.ImageUrl" alt=""></td>
                            <td>@item.Name</td>
                            <td>
                                @if(item.IsHome){
                                    <i class="fa-solid fa-circle-check"></i>
                                }else{
                                    <i class="fa-solid fa-circle-xmark"></i>
                                }

                            </td>
                            <td> @if(item.IsApproved){
                                    <i class="fa-solid fa-circle-check"></i>
                                }else{
                                    <i class="fa-solid fa-circle-xmark"></i>
                                }
</td>
                            <td>@item.Price   <i class="fa-solid fa-manat-sign"></i></td>
                            <td id="btn-td"><a href="/admin/predit/@item.ProductId" id="btn-edit"><i class="fa-regular fa-pen-to-square"></i></a>
                              
                              <form action="/admin/productdelete" method="POST"  style="display:inline-block">
                                <input type="hidden" name="ProductId" value="@item.ProductId">
                                 <button href="" id="btn-delete"><i class="fa-solid fa-trash"></i></button>
                              </form>
                               
                            </td>

                        </tr>

                    }
                }
                else
                {
                    <tr>
                        <td>Mehsul yoxdur</td>
                    </tr>
                }


            </tbody>
        </table>
    </div>
</div>